
.whole{
    display: flex;
    margin: 20px auto;
    width: 1200px;

}
.MuiSvgIcon-root{
    margin-top: 200px;
}
.screen{
    margin:0 200px 0 250px;
    font-size: larger;
}
img{
    width:30%;
}
.operator{
    display: flex;
}
.add-sub{
    display: flex;
    flex-direction: column;
}
.controlpanel{
    margin-left: 20px;
}
.panel{
    margin: 20px 0;
}
.panel button{
    margin: 0 20px 20px 20px;
}
.operator{
    margin-left: 40px;
}
.add-sub a{
    margin:3px 0;
}
/* .add-sub img{
    width:30%;
}
.ok img{
    width: 35%;
} */